* {
  /* this will apply the border to all the elements on the page */
  /* The main diff between universal and body selector is that there is no inheritance involved in case of * */
  /* border-top: 10px solid #1098ad; */
  margin: 0;
  padding: 0;
  /* content-box is the default behaviour and it its size == container width + padding
border-box is another very imp property and should be set on universal selector cuz if you set a width
for a container and add padding then the size of the box will remain the same i.e,

content-box => width or height of content = 100px and padding 20px then total width becomes => 120 px
border-box => width or height of content = 100px and padding 20 px then total width remains 100px cuz
the content width will become 80 px and 20px padding*/
  box-sizing: border-box;
}

/*
Collapsing margins are where there is bottom on the element above and top margin on the element below.
So two spaces between adjacent elements. So the greater one will take precedence and it will only be applied
eb if two p elements and the top p has margin-bottom of 20px and the lower p has margin-top of 40px then the
total space would be 40 px and not 60px. This phenomenon is called collapsing amrgins.
*/

body {
  /* Inherited properties are mostly related to text. So the CSS properties for text are usually inherited */
  color: #444;
  font-size: 18px;
  font-family: sans-serif;

  /* Not a inherited property so only added on top of body and not other children of body */
  border-top: 10px solid #1098ad;
  position: relative;
}

.container {
  width: 1400px;
  /* margin-left: auto;
  margin-right: auto; */

  /*
  The above can also be written as below
  */
  margin: 0 auto;
}

.main-header {
  background-color: #f7f7f7;
  /* First value on top and bottom and second on left and right */
  padding: 20px 40px;
  margin-bottom: 60px;
  /* Always try to avoid fixed height and widths */
  /* height: 80px; */
}

.article-header {
  margin-bottom: 20px;
}

aside {
  background-color: #f7f7f7;
  border-top: 5px solid #1098ad;
  border-bottom: 5px solid #1098ad;
  padding: 50px 10px;
}

nav {
  font-size: 18px;
  text-align: center;
}

h1,
h2,
h3 {
  color: #1098ad;
}

h1 {
  font-size: 26px;
  text-transform: uppercase;
  font-style: italic;
}

h1::first-letter {
  font-style: normal;
  margin-right: 5px;
}

h2 {
  font-size: 40px;
  margin-bottom: 30px;
  position: relative;
}

/* Content property is must for after psuedoclass */
h2::after {
  content: "TOP";
  font-size: 16px;
  color: #444;
  font-weight: bold;
  background-color: yellow;
  padding: 5px 10px;
  position: absolute;
  top: -15px;
  right: -25px;
}

h3 {
  font-size: 30px;
  margin-bottom: 20px;
  margin-top: 30px;
}

/* Adjacent sibling selector */
/* h3 + p::first-line {
  color: red;
} */

h4 {
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
}

p {
  font-size: 22px;
  line-height: 1.5;
  margin-bottom: 15px;
}

li {
  font-size: 20px;
  margin-bottom: 10px;
  margin-left: 50px;
}

li:last-child {
  margin-bottom: 0;
}

/*
Descendant selectors. Hard to maintain as html is changed a lot in real world websites.
Instead use class and ID selectors
*/

/* footer p {
  font-size: 16px;
} */

/*
Its always better to use classes and not IDs.
That is why we always prefer using classes cuz we make app future proof.
*/

#copyright {
  font-size: 16px;
}

/* article header p {
  font-style: italic;
} */

#author {
  font-style: italic;
  font-size: 18px;
}

.related-author {
  font-weight: bold;
}

/* remove bullet point from ol or ul
 */

/* ul {
  list-style: none;
} */

.related {
  list-style: none;
  margin-left: 0;
}

li:first-child {
  font-weight: bold;
}

li:last-child {
  font-style: italic;
}

/* li:nth-child(2) {
  color: red;
} */

/* li:nth-child(odd) {
  color: red;
} */

/* li:nth-child(even) {
  color: red;
} */

/*
this wont work cuz p is not the first child
*/
article p:first-child {
  color: red;
}

/*
this will work cuz p is the last child
*/

/* article p:last-child {
  color: red;
} */

/* STYLING LINKS */

/* Always define all the below anchor psuedoclasss all of the and in the same order */

/* LVHA */

/* this pseudoclass will only target anchor tags that have href attribute */
a:link {
  color: #1098ad;
}

a:visited {
  /* color: #444; */
  color: #1098ad;
}

a:hover {
  color: orangered;
  font-weight: bold;
  text-decoration: underline orangered;
}

a:active {
  background-color: black;
  font-style: italic;
}

.post-img {
  width: 100%;
  height: auto;
}

nav a:link {
  display: inline-block;
  margin-right: 30px;
  text-decoration: none;
}

nav a:link:last-child {
  margin-right: 0;
}

button {
  font-size: 22px;
  padding: 10px;
  position: absolute;
  bottom: 50px;
  right: 50px;
}

/* RESOLVING CONFLICTS BETWEEN CSS SELECTORS */
/* SELECTORS FROM HIGHEST PRIORITY TO LOWEST PRIORITY */
/*
1. Declarations marked with !important
2. Inline styles
3. ID Selectors
4. Class Selectors
5. Psuedoclasses. ie a:hover is higher priority than a
6. Element Selectors ie p, div, h1, li etc
7. Universal Selector (*)
8. Inherited styles have the lowest priority.
*/

/* TYPES OF ELEMENTS AND THERE PROPERTIES */
/*
Paddings and margins only horizontally on inline elements.
In order to apply box model to them ie width, height, paddings and margins convert display to inline-block.
img is an inline-block element
*/

/*  FLOATS  */
/*
.author-img {
  float: left;
}

/* We need to make it a float too so that it starts directly after author-img and not behind it */
/* .author { */
/* padding-left: 10px; */
/* margin-top: 10px;
  margin-left: 20px;
  float: left;
} */

/* Collapsing elements are when an elements children are all floated so the parents elements
own height becomes zero cuz its children are all floated. */
/* h1 {
  float: left;
}

nav {
  float: right;
} */

/* if clearing left float then clear left, right for right and in this case we have both right and left so
both */
/* .clear {
  clear: both;
} */

/* Another way of clearing floats */
/* .clearfix::after {
  clear: both;
  content: "";
  display: block;
}

article {
  width: 925px;
  float: left;
}

aside {
  width: 400px;
  float: right;
} */

/* we dont need to add an empty div or clearfix class for the floating footer
cuz we already have a footer container to clear both floats on */
/* footer {
  clear: both;
}  */

/*  FLEXBOX */

.main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.author-box {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.author {
  margin-bottom: 0;
  margin-left: 15px;
}

.related-post {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 20px;
}

.related-link {
  font-size: 17px;
  font-weight: bold;
  font-style: normal;
  text-decoration: none;
  /* We need to set dsiplay to block in order to apply margin-bottom to it as anchor elements
  are inline elements */
  display: block;
  margin-bottom: 5px;
}

.related-author {
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  font-style: italic;
}

.row {
  display: flex;

  /* The default value of align-items is strech so it will strech all the children of the row to the height
  of the highest element and in our case the aside is streched to the full height of article but we
  only need small space for its content so align-items: flex-start; will work */
  align-items: flex-start;
  /* The gap is a flex property and should be used if using flex for layout */
  gap: 75px;
  margin-bottom: 60px;
}

article {
  /*
  DEFAULTS
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  */

  /* flex: 0 0 925px; */

  /* The above can also be acheived by the below which will make it keep all the available space */

  flex: 1;
  margin-bottom: 0;
}

aside {
  /* flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 400px; */

  /* The above can also be acheived by */

  flex: 0 0 400px;
}

li {
  margin-left: 30px;
}
